.home_hero {
    &-square1 {
        position: absolute;
        display: block;
        z-index: -1;
        top:450px;
        left: 0;
        right: 0;
        width: 700px;
        height:600px;


        @screen md{
            left: auto;
            top:0;
            right: 0;
            width: 700px;
            height: 300px;
        }
    }
    &-square2{
        position: absolute;
        display: block;
        z-index: -1;

        top: 0;
        right: 0;
        width: 700px;
        height: 450px;

        @screen md {
            top:150px;
            right: 0;
            width: 400px;
            height: 450px;
        }
    }
}

.home_service {

    &--0 {
        &-span {
            display: block;
            position: absolute;
            z-index: -1;
            width: 300px;
                height: 200px;
                top:350px;
            left: 0;
            right: auto;

            @screen md {
                left:auto;
                top:200px;
                right: 0;
            }
        }
    }
    &--1  {

        @screen md {

            & > div:first-child {
                grid-row: 1/2;
                grid-column: 2/3;
            }
            
            & > div:last-child {
                grid-row: 1/2;
                grid-column: 1/2;
            }
        }

       
    }

    &--2 {
        &-span {
            display: block;
            position: absolute;
            
            height: 300px;
            z-index: -1;
            
            right: 0;

            width: 40px;
            bottom: 0;
            @screen md {
                bottom:100px;
                width: 300px;
            }
        }
    }
}


.underline-custom{
        position: relative;
        z-index: 10;
        &::after {
            content:'';
            display: block;
            position: absolute;
            height: 18%;
            width: 100%;
            bottom: 15%;
            left: 0;
            background-color: $cy-m;
            z-index: -1;
        }
    }
