.ecommerce_hero {
    &-span--1 {
        position: absolute;
        top: 0px;
        right: 100px;
        height: 200px;
        width: 250px;
        z-index: -1;
    }
}

.ecommerce_banner-card {
    position: relative;
    margin: 2rem auto;

   @screen md {
    position: absolute;
    bottom: -4rem;
    right: 4rem;
   }
}

.ecommerce_services-section > div:nth-child(2) {
    & > div:nth-child(1) {
       @screen lg {
        grid-row:2/3;
        grid-column: 2/3;
       }
    }
    & > div:nth-child(2) {
        @screen lg {
            grid-row:2/3;
        grid-column: 1/2;
        }
    }
}