.btn-main {
    background-color: $co-m;
    color: $cw-m;
    padding: 1rem 2rem;
    border-radius: 10rem;
    display: block;
    border: 1px solid $co-m;
    transition: all 300ms;
    text-align: center;
    &:hover {
        background-color: $cw-m;
        color: $co-m;
    }
}


.btn-secondary {
    background-color: $cw-m;
    color: $co-m;
    padding: 1rem 2rem;
    border-radius: 10rem;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    border: 1px solid $co-m;
    transition: all 300ms;
    text-align: center;
    justify-content: center;
    & > svg {
        height: 2rem;
        width: 2rem;
        transition: all 300ms;
        & > path {
            fill: $co-m;
        }
    }

    &:hover {
        background-color: $co-m;
        color: $cw-m;

        & > svg {
            stroke: $cw-m;
            transform: translateX(3px);
            & > path {
                fill: $cw-m;
            }
        }
    }
}





















.custom-btn-cta-white {
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: $cw-m;
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }
    & > span{
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
      font-family: 'Poppins', sans-serif;
      }
    & > svg{
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: black;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }
    &:hover{
      &:before {
        width: 100%;
        background: rgba($cb-l,1);
      }

      & > span {color: white;}
      & > svg{
          transform: translateX(0);
          fill:white;
          stroke:white;
      }
  
      &:active{
          transform: scale(.96);
      }
    }
  }

.custom-btn-cta-yellow-black {
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: $cb-l;
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }
    & > span{
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
      font-family: 'Poppins', sans-serif;
      }
    & > svg{
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: black;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }
    &:hover{
      &:before {
        width: 100%;
        background: rgba($cb-l,1);
      }

      & > span {color: white;}
      & > svg{
          transform: translateX(0);
          fill:white;
          stroke:white;
      }
  
      &:active{
          transform: scale(.96);
      }
    }
  }

  .custom-btn-cta-black {
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: #3a3a3a;
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }
    & > span{
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
      font-family: 'Poppins', sans-serif;
      color:white;
      }
    & > svg{
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: white;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }
    &:hover{
      &:before {
        width: 100%;
        background: rgba($cy-m,1);
      }

      & > span {color: $cb-l;}
      & > svg{
          transform: translateX(0);
          fill:$cb-l;
          stroke:$cb-l;
      }
  
      &:active{
          transform: scale(.96);
      }
    }
  }