.underline {
    display: inline;
    position: relative;
    overflow: hidden;
    z-index: 200;
    &__orange {
        &:after { background: $co-m; }
    }

    &__white {
        &:after { background: $cw-m }
    }
    &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: auto;
    width: 100%;
    bottom: 1px;
    height: 2px;
    
    }
    
}



