$cb-l: #1A1A1A;
$cg-m: #C4C4C4;
$cg-l: #F7F7F7;
$co-m: #F84525;
$co-l: #FE4E00;


$cb-m: #000000;
$cw-m: #FFFFFF;
$cgreen-m: #4BB543;
$cred-m: #e90000;


$cy-m: #FFF507;
$cy-l: rgba(255, 245, 7, 0.8);