$cb-l: #1A1A1A;
$cg-m: #C4C4C4;
$cg-l: #F7F7F7;
$co-m: #F84525;
$co-l: #FE4E00;


$cb-m: #000000;
$cw-m: #FFFFFF;
$cgreen-m: #4BB543;
$cred-m: #e90000;


$cy-m: rgba(250, 208, 44, 1);
$cy-l: gba(250, 208, 44, 0.8)